@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");

$red-color: #ff4141;
$blue-color: #41bbff;
$violet-color: #d941ff;
$dark-red-color: #852525;
$dark-blue-color: #143c53;
$dark-violet-color: #481555;
$light-color: #f3f2f2;

.wrapper {
  max-width: 1084px;
}
* {
  font-family: "Vazirmatn", sans-serif;
  transition: all 0.2s;
  box-sizing: border-box;
}

body {
  /* background: #0b0c10; */
  /* color: lightgray; */
  margin: 0;
}

.btn {
  padding: 0.5rem;
  font-weight: 800;
  border-radius: 1.25rem;
  background-color: #00a2ff;
  animation: wiggle 200ms 1s 9 alternate;
}

.main-menu li a {
  text-decoration: none;
}

.main-menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.section-title {
  text-align: center;
}

::selection {
  background: coral;
}

/* button {
  background: darkturquoise;
  color: black;
  border-radius: 20px;
  border: darkturquoise 1px solid;
  font: inherit;
  font-weight: bolder;
  padding: 8px;
  margin: 10px;
  box-sizing: border-box;
}

button:hover {
  color: aliceblue;
  background: #1f2833;
  cursor: pointer;
} */

.toggle-button {
  cursor: pointer;
  border: none;
  border-radius: 100px;
  background: none;
  display: inline-block;
}
.open {
  display: block !important;
  opacity: 1;
  transform: translateY(0);
}

.toggle-button img {
  height: 2rem;
  width: 2rem;
}

.mobile-nav .close-button {
  cursor: pointer;
  text-align: left;
}

.close-button svg {
  width: 2rem;
}

.mobile-nav {
  display: none;
  position: fixed;
  background: whitesmoke;
  z-index: 101;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.mob-nav-items {
  /* width: 90%;
  height: 100%; */
  list-style: none;
  padding: 0;
  margin: 10% auto;
  text-decoration: none;
}

.mob-nav-item {
  margin: 1rem auto;
  padding: 0.8rem;
}

.mob-nav-item a {
  margin: 1rem auto;
  text-decoration: none;
  color: black;
}

.mob-nav-item:hover {
  background: rgba(155, 155, 155, 0.192);
  border-radius: 100px 0px 0px 100px;
}

.register-botton {
  background: rgba(35, 163, 46, 0.281);
  border-radius: 100px 0px 0px 100px;
}
.register-botton a {
  border-radius: 100px 0px 0px 100px;
  color: rgb(0, 0, 0);
}

.register-botton:hover {
  background: #26c2486b;
  border-radius: 100px 0px 0px 100px;
}

.copyright {
  text-align: center;
}

@media (min-width: 30rem) {
  .links-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(5, 5, 27);
    color: rgb(211, 208, 208);
  }

  .main-menu a {
    text-decoration: none;
  }

  .links a {
    text-decoration: none;
    color: #ffffff;
  }

  ul {
    list-style-type: none;
  }
}

@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}
