@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");

$green-color: #ffffff;
$blue-color: #41bbff;
$violet-color: #d941ff;
$dark-green-color: #199615;
$dark-green-hover: #59cc55;
$dark-blue-color: #142d53;
$dark-blue-hover: #17327a;
$dark-violet-color: #481555;
$light-color: #f3f2f2;

* {
  font-family: "Vazirmatn", sans-serif;
  transition: all 0.2s;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #0b0c10;
  color: lightgray;
  box-sizing: border-box;
}

.wrapper {
  max-width: 980px;
  margin: 0 auto;
}

header {
  height: 100vh;
  width: 100%;
  background: rgb(31, 26, 106);
  background: linear-gradient(
    49deg,
    rgba(31, 26, 106, 1) 0%,
    rgba(9, 17, 121, 0.9948354341736695) 45%,
    rgba(0, 91, 255, 1) 100%
  );
}

.logo {
  display: inline;
  position: absolute;
  left: 0.5rem;
  margin: 1.2rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
  background: #3385ff;
  border-radius: 2rem;
  transform: rotateZ(-5deg);
  p {
    font-family: "Nunito", sans-serif;
    display: inline;
  }
}

.desktop-menu {
  display: none;
}

.btn {
  align-items: center;
  // background-color: #06f;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  fill: #000;
  font-family: vazirmatn, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  justify-content: center;
  min-width: 8rem;
  outline: 0;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  &:focus {
    color: #171e29;
  }

  &:hover,
  :active {
    background-color: #3385ff;
  }
}
.dark {
  background-color: $dark-green-color;

  &:hover,
  :active {
    background-color: $green-color;
  }
}

.light {
  background-color: $dark-blue-color;

  &:hover,
  :active {
    background-color: $dark-blue-hover;
  }
}

.enroll-icon::before {
  content: url("./images/enroll-icon.svg");
  padding-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0.25rem);
}

.enroll-icon {
  padding: 0.5rem;
}

.toggle-button {
  display: block;
  cursor: pointer;
  border: none;
  width: 2rem;
  // margin: 0.8rem;
}

.section-title {
  text-align: center;
}

::selection {
  background: blueviolet;
}

.open {
  display: block !important;
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav .close-button {
  cursor: pointer;
  text-align: left;
}

.close-button svg {
  width: 2rem;
}

.mobile-nav {
  display: none;
  position: fixed;
  background: whitesmoke;
  z-index: 101;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.mob-nav-items {
  /* width: 90%;
  height: 100%; */
  list-style: none;
  padding: 0;
  margin: 10% auto;
  text-decoration: none;
}

.mob-nav-item {
  margin: 1rem auto;
  padding: 0.8rem;

  a {
    margin: 1rem auto;
    text-decoration: none;
    color: black;
  }

  :hover {
    background: rgba(155, 155, 155, 0.192);
    border-radius: 100px 0px 0px 100px;
  }
}

.register-botton {
  background: rgba(35, 163, 46, 0.281);
  border-radius: 100px 0px 0px 100px;

  a {
    border-radius: 100px 0px 0px 100px;
    color: rgb(0, 0, 0);
  }

  &:hover {
    background: #26c2486b;
    border-radius: 100px 0px 0px 100px;
  }
}

.copyright {
  text-align: center;
}
// Hero Section

.hero-section {
  height: 90vh;
  width: 100%;
  display: flex;
  margin: 0rem 1rem 0 1rem;
  align-items: center;

  .right {
    width: 28.125rem;
    align-self: flex-start;
    margin-top: 5rem;

    p {
      margin-top: 3rem;
      text-justify: inter-word;
    }

    .btn {
      margin: 1.5rem;
    }
  }

  .left {
    align-self: flex-end;
    margin-bottom: 2rem;

    img {
      height: 22rem;
      // padding: 2rem;
    }
  }
}

.achievement-cards {
  display: none;
}

// Buttons

.register-button:hover {
  background-color: $dark-green-hover !important;
}

// Tablet

@media (min-width: 30rem) {
}

// Desktop
@media (min-width: 48rem) {
  .main-menu {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin-top: 1rem;
    // position: fixed;

    li a {
      text-decoration: none;
      color: white;
      padding: 0.5rem;
      border-radius: 1rem;
      transition: all 0.5s;
      font-size: 1.125rem;

      &:hover {
        background: #002d709c;
      }
    }
  }
  .desktop-menu {
    display: flex;
    flex-direction: column;
  }
  .mobile-nav,
  .toggle-button {
    display: none;
  }
  .links-container {
    display: flex;
    justify-content: space-around;
    background-color: rgb(5, 5, 27);
    color: rgb(211, 208, 208);
  }

  .links a {
    text-decoration: none;
    color: #ffffff;
  }

  ul {
    list-style-type: none;
  }
}

@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}
