@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Vazirmatn", sans-serif;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
}

body {
  background: #0b0c10;
  color: lightgray;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrapper {
  max-width: 1048px;
  margin: 0 auto;
}

header {
  height: 100vh;
  width: 100%;
  background: #1f1a6a;
  background: linear-gradient(49deg, #1f1a6a 0%, rgba(9, 17, 121, 0.994835) 45%, #005bff 100%);
}

.logo {
  display: inline;
  position: absolute;
  left: 0.5rem;
  margin: 1.2rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
  background: #3385ff;
  border-radius: 2rem;
  -webkit-transform: rotateZ(-5deg);
          transform: rotateZ(-5deg);
}

.logo p {
  font-family: "Nunito", sans-serif;
  display: inline;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 80%;
  margin-top: 1rem;
}

.main-menu li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  font-size: 1.125rem;
}

.main-menu li a:hover {
  background: #002d709c;
}

ul {
  list-style-type: none;
}

.desktop-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.btn {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #fff;
  cursor: pointer;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  fill: #000;
  font-family: vazirmatn, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-width: 8rem;
  outline: 0;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
}

.btn:focus {
  color: #171e29;
}

.btn:hover,
.btn :active {
  background-color: #3385ff;
}

.dark {
  background-color: #199615;
}

.dark:hover,
.dark :active {
  background-color: #ffffff;
}

.light {
  background-color: #142d53;
}

.light:hover,
.light :active {
  background-color: #17327a;
}

.enroll-icon::before {
  content: url("./images/enroll-icon.svg");
  padding-left: 0.3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateY(0.25rem);
          transform: translateY(0.25rem);
}

.enroll-icon {
  padding: 0.5rem;
}

.mobile-nav,
.toggle-button {
  display: none;
}

.section-title {
  text-align: center;
}

::-moz-selection {
  background: blueviolet;
}

::selection {
  background: blueviolet;
}

.open {
  display: block !important;
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.mobile-nav .close-button {
  cursor: pointer;
  text-align: left;
}

.close-button svg {
  width: 2rem;
}

.mobile-nav {
  position: fixed;
  background: #0b0c10;
  z-index: 101;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
}

.mob-nav-items {
  /* width: 90%;
  height: 100%; */
  list-style: none;
  padding: 0;
  margin: 10% auto;
  text-decoration: none;
}

.mob-nav-item {
  padding: 0.8rem;
  margin: 0.5rem;
}

.mob-nav-item a {
  text-decoration: none;
  color: #e2e2e2;
  font-weight: 300;
}

.mob-nav-item:hover {
  background: rgba(29, 101, 255, 0.103);
  border-radius: 100px 0px 0px 100px;
}

.register-botton {
  background: rgba(35, 163, 46, 0.281);
  border-radius: 100px 0px 0px 100px;
}

.register-botton a {
  color: #d2d2f0;
  font-weight: 600;
}

.register-botton:hover {
  background: #26c2486b;
  border-radius: 100px 0px 0px 100px;
  cursor: pointer;
}

.hero-section {
  height: 90vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0rem 2rem 0 2rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero-section .right {
  width: 28.125rem;
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-top: 5rem;
}

.hero-section .right .paragraph {
  margin-top: 3rem;
  text-justify: inter-word;
  text-align: justify;
}

.hero-section .right .btn {
  margin: 1.5rem 0.5rem 1.5rem;
}

.hero-section .left {
  margin: 1rem 2rem 2rem 0rem;
}

.hero-section .left img {
  display: block;
  width: 98%;
}

.achievement-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievement-card {
  position: absolute;
  width: 15%;
}

.achievement-card .content {
  background: #080741;
  border-radius: 1.5rem;
  padding: 0.6rem;
}

.achievement-card .content h3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.8rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.achievement-card .content .enroll-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.achievement-card .content .overal-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.achievement-card .content h3,
.achievement-card .content img {
  display: inline;
}

.achievement-card .content img {
  height: 1.8rem;
}

.achievement-card .content p {
  text-align: center;
}

.students-enrolled {
  right: 27%;
  bottom: 5%;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #0072be;
}

.testimonial-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: justify;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  gap: 4rem;
  margin: 5rem 5rem 5rem 5rem;
}

.testimonial-section .right {
  width: 60%;
}

.testimonial-section .right p {
  margin-top: 2rem;
}

.testimonial-section .right a {
  margin-top: 2rem;
}

.testimonial-section .left {
  width: 45%;
}

.testimonial-card {
  -webkit-box-shadow: rgba(0, 26, 255, 0.192) 0px 1px 200px 4px;
          box-shadow: rgba(0, 26, 255, 0.192) 0px 1px 200px 4px;
  margin-top: 5rem;
  border-radius: 1.5rem;
}

.testimonial-card .content {
  background-color: #222222;
  padding: 1rem;
  border-radius: 1rem;
}

.testimonial-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.testimonial-card .info h4 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}

.testimonial-card .info img {
  height: 7rem;
  padding: 0.5rem;
}

.testimonial-card .info p {
  font-weight: 200;
}

.courses {
  height: 100vh;
  background: rgba(4, 2, 34, 0.288);
  background: linear-gradient(45deg, rgba(4, 2, 34, 0) 0%, #001438 100%);
}

.courses h2 {
  text-align: center;
  padding-top: 2rem;
}

.courses .course-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 1rem;
}

.courses a {
  margin: 1rem 5rem;
}

.course-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgba(26, 26, 26, 0.315);
  border-radius: 1.6rem;
  -webkit-box-shadow: rgba(55, 0, 255, 0.603) 0px 30px 90px;
          box-shadow: rgba(55, 0, 255, 0.603) 0px 30px 90px;
  padding: 1rem;
  width: 40%;
  min-height: 20rem;
  margin: 2rem;
}

.course-card > img {
  min-height: 16rem;
  min-width: 2rem;
}

.course-card .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
}

.course-card .info .duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0.5rem;
  font-weight: 200;
}

.course-card .info .duration img {
  margin-left: 0.5rem;
}

.app-section h2 {
  text-align: center;
  margin: 2rem;
}

.app-section p {
  margin: 1rem;
  text-align: center;
  font-size: 1.3rem;
}

.app-section div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.app-section div img {
  width: 30%;
  margin: 5%;
  margin-bottom: 10rem;
}

.links-container {
  background-color: #05051b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: #d3d0d0;
  padding: 2rem;
}

.links a {
  text-decoration: none;
  color: #c7c5c5;
  padding: 0.3rem;
}

.links a:hover {
  color: #797676;
}

.links h3 {
  color: #adb2ff;
}

.links li,
.links .social,
.links input,
.links button {
  margin-top: 0.5rem;
}

.links input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
}

.links button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
  font-weight: 500;
}

.links button:hover {
  cursor: pointer;
  background-color: #a5a5a5;
}

.copyright {
  text-align: center;
  padding: 0.5rem;
}

.copyright a {
  text-decoration: none;
  color: #ff91ed;
}

.register-button:hover {
  background-color: #59cc55 !important;
}

@media (max-width: 48rem) {
  .desktop-menu {
    display: none;
  }
  .toggle-button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    cursor: pointer;
    border: none;
    width: 2rem;
    margin-right: 2rem;
    padding-top: 2rem;
  }
  .logo {
    margin: 2rem;
  }
  .hero-section {
    height: 150%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  .hero-section .left img {
    margin: 0;
  }
  .hero-section .right {
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
    width: auto;
    margin-top: 0;
  }
  header {
    height: 150vh;
  }
  .achievement-cards {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .achievement-card {
    position: absolute;
    width: 25%;
  }
  .students-enrolled {
    right: 50%;
    bottom: -35%;
  }
  .testimonial-section {
    gap: 3rem;
    margin: 2rem;
  }
  .testimonial-section h2 {
    font-size: 1.5rem;
  }
  .testimonial-section .right {
    width: 45%;
  }
  .testimonial-section .right p {
    margin-top: 2rem;
  }
  .testimonial-section .right a {
    margin-top: 2rem;
  }
  .testimonial-section .left {
    width: 50%;
  }
  .testimonial-card {
    width: 100%;
  }
  .testimonial-card .info div {
    padding: 0.5rem;
  }
  .testimonial-card .info h4 {
    font-size: 1.1rem;
  }
  .testimonial-card .info img {
    width: 5rem;
    height: 5rem;
  }
  .courses {
    height: 80vh;
  }
  .course-card {
    width: 40%;
    min-height: 20rem;
    margin: 1rem;
  }
  .course-card > img {
    min-height: 8rem;
    min-width: 1rem;
  }
  .course-card h3 {
    font-size: 1rem;
    white-space: nowrap;
  }
  .app-section p {
    font-size: 1.2rem;
  }
  .app-section div img {
    width: 40%;
  }
  .links-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .links {
    margin: 1rem 4rem;
    padding: 0;
  }
}

@media (max-width: 30rem) {
  .desktop-menu {
    display: none;
  }
  .toggle-button {
    display: block;
    cursor: pointer;
    border: none;
    width: 2rem;
  }
  .hero-section h1 {
    font-size: 1.6rem;
  }
  .achievement-card {
    width: 45%;
  }
  .students-enrolled {
    right: 50%;
    bottom: -30%;
  }
  header {
    height: 133vh;
  }
  .testimonial-section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    height: 120vh;
    gap: 0;
  }
  .testimonial-section .right {
    width: 90%;
  }
  .testimonial-section .right h2 {
    font-size: 1.3rem;
  }
  .testimonial-section .left {
    width: 90%;
  }
  .courses {
    height: 130vh;
  }
  .course-cards {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .course-card {
    width: 80%;
  }
  .app-section div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .app-section div img {
    margin-bottom: 2rem;
    width: 70%;
  }
  .links-container {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 0;
  }
  .links ul,
  .links h3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-item-align: center;
        align-self: center;
    white-space: nowrap;
  }
  .links ul form,
  .links h3 form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .links a {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .links h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}

@-webkit-keyframes wiggle {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}

@keyframes wiggle {
  from {
    -webkit-transform: rotateZ(0);
            transform: rotateZ(0);
  }
  to {
    -webkit-transform: rotateZ(10deg);
            transform: rotateZ(10deg);
  }
}
/*# sourceMappingURL=shared.css.map */