@import url("https://fonts.googleapis.com/css2?family=Vazirmatn:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@400;500;600;700;900&display=swap");
* {
  font-family: "Vazirmatn", sans-serif;
  transition: all 0.2s;
  box-sizing: border-box;
  margin: 0;
}

body {
  background: #0b0c10;
  color: lightgray;
  box-sizing: border-box;
}

.wrapper {
  margin: 0 auto;
}

header {
  height: 110vh;
  width: 100%;
  background: rgb(31, 26, 106);
  background: linear-gradient(49deg, rgb(31, 26, 106) 0%, rgba(9, 17, 121, 0.9948354342) 45%, rgb(0, 91, 255) 100%);
}

.logo {
  display: inline;
  position: absolute;
  left: 0.5rem;
  margin: 0 0 0 0.5rem;
  color: whitesmoke;
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 900;
  background: #3385ff;
  border-radius: 2rem;
  transform: rotateZ(-5deg);
  font-family: "Nunito", sans-serif;
  z-index: 201;
  opacity: 80%;
}

.scrolled {
  background: linear-gradient(94deg, rgb(35, 0, 50), rgb(21, 1, 78));
  border-radius: 0 0 0.7rem 0.7rem;
  position: fixed;
  z-index: 200;
  padding: 0.5rem;
  padding-right: 3rem;
}

nav {
  width: 100%;
  padding: 2rem 5rem;
  position: fixed;
}

.desktop-nav {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 0;
}
.desktop-nav li a {
  text-decoration: none;
  color: white;
  padding: 0.5rem;
  border-radius: 1rem;
  transition: all 0.5s;
  font-size: 1.125rem;
  white-space: nowrap;
}
.desktop-nav li a:hover {
  background: rgba(0, 45, 112, 0.6117647059);
}

ul {
  list-style-type: none;
}

.btn {
  align-items: center;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: vazirmatn, sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  border-radius: 1rem;
  justify-content: center;
  min-width: 8rem;
  padding: 0.5rem;
  text-align: center;
  text-decoration: none;
  -moz-user-select: none;
   -ms-user-select: none;
       user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}
.btn:focus {
  color: #171e29;
}
.btn:hover,
.btn :active {
  background-color: #3385ff;
}

.dark {
  background-color: #199615;
}
.dark:hover,
.dark :active {
  background-color: #ffffff;
}

.light {
  background-color: #0065ff;
}
.light:hover,
.light :active {
  background-color: #17327a;
}

.enroll-icon::before {
  content: url("./images/enroll-icon.svg");
  padding-left: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(0.25rem);
}

.enroll-icon {
  padding: 0.5rem;
}

.toggle-button {
  display: none;
}

.section-title {
  text-align: center;
}

::-moz-selection {
  background: blueviolet;
}

::selection {
  background: blueviolet;
}

.open {
  display: block !important;
  opacity: 1;
  transform: translateY(0);
}

.mobile-nav {
  position: fixed;
  background: #0b0c10;
  z-index: 300;
  border-radius: 0px 0px 10px 10px;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  text-align: center;
  font-weight: 500;
  font-size: x-large;
  transition: 0.4s ease;
  transform: translateX(1400px);
}

.slide {
  transform: translateX(0);
}

.close-button {
  cursor: pointer;
  position: fixed;
  top: 0.5rem;
  margin-top: 0.4rem;
  right: 3rem;
  transition: all 0.5s ease;
}
.close-button svg {
  width: 2.5rem;
}

.mob-nav-items {
  /* width: 90%;
  height: 100%; */
  list-style: none;
  padding: 0;
  margin: 20% auto;
  text-decoration: none;
}

.mob-nav-item {
  padding: 0.8rem;
  margin: 0.5rem;
}
.mob-nav-item a {
  text-decoration: none;
  color: rgb(226, 226, 226);
  font-weight: 300;
}
.mob-nav-item:hover {
  background: rgba(29, 101, 255, 0.103);
  border-radius: 100px 0px 0px 100px;
}

.register-botton {
  background: rgba(35, 163, 46, 0.281);
  border-radius: 100px 0px 0px 100px;
}
.register-botton a {
  color: rgb(210, 210, 240);
  font-weight: 600;
}
.register-botton:hover {
  background: rgba(38, 194, 72, 0.4196078431);
  border-radius: 100px 0px 0px 100px;
  cursor: pointer;
}

.hero-section {
  height: 90vh;
  display: flex;
  margin: 0rem 2rem 0 2rem;
  align-items: center;
}
.hero-section .right {
  width: 30rem;
  align-self: flex-start;
  margin: 13rem 3rem;
}
.hero-section .right .paragraph {
  margin-top: 3rem;
  text-justify: inter-word;
  text-align: justify;
}
.hero-section .right .btn {
  margin: 1.5rem 0.5rem 1.5rem;
}
.hero-section .left {
  margin: 13rem 2rem 2rem 0rem;
}
.hero-section .left img {
  display: block;
  width: 98%;
}

.achievement-cards {
  display: flex;
  flex-direction: column;
}

.achievement-card {
  position: absolute;
  width: 10rem;
}
.achievement-card .content {
  background: #080741;
  border-radius: 1.5rem;
  padding: 0.6rem;
}
.achievement-card .content h3 {
  display: flex;
  font-size: 1.8rem;
  flex-direction: column;
}
.achievement-card .content .enroll-div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.achievement-card .content .overal-div {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.achievement-card .content h3,
.achievement-card .content img {
  display: inline;
}
.achievement-card .content img {
  height: 1.8rem;
}
.achievement-card .content p {
  text-align: center;
  white-space: nowrap;
}

.students-enrolled {
  right: 33%;
  bottom: 5%;
}

h2 {
  font-weight: 700;
  font-size: 2rem;
  color: #0072be;
}

.testimonial-section {
  display: flex;
  text-align: justify;
  align-items: center;
  height: 100vh;
  gap: 4rem;
  margin: 5rem 5rem 5rem 5rem;
}
.testimonial-section .right {
  width: 60%;
}
.testimonial-section .right p {
  margin-top: 2rem;
}
.testimonial-section .right a {
  margin-top: 2rem;
}
.testimonial-section .left {
  width: 45%;
}

.testimonial-card {
  box-shadow: rgba(0, 26, 255, 0.308) 0px 1px 200px 4px;
  margin-top: 5rem;
  border-radius: 1.5rem;
}
.testimonial-card .content {
  background-color: #222222;
  padding: 1rem;
  border-radius: 1rem;
}
.testimonial-card .info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.testimonial-card .info h4 {
  font-size: 1.2rem;
  margin-bottom: 0.3rem;
}
.testimonial-card .info img {
  height: 7rem;
  padding: 0.5rem;
}
.testimonial-card .info p {
  font-weight: 200;
}

.courses {
  height: 100vh;
  background: rgba(4, 2, 34, 0.288);
  background: linear-gradient(45deg, rgba(4, 2, 34, 0) 0%, rgb(0, 20, 56) 100%);
}
.courses h2 {
  text-align: center;
  padding-top: 2rem;
}
.courses .course-cards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}
.courses a {
  margin: 1rem 5rem;
}

.course-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(26, 26, 26, 0.315);
  border-radius: 1.6rem;
  box-shadow: rgba(55, 0, 255, 0.603) 0px 30px 90px;
  padding: 1rem;
  width: 40%;
  min-height: 20rem;
  margin: 2rem;
}
.course-card > img {
  min-height: 16rem;
  min-width: 2rem;
}
.course-card .info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
.course-card .info .duration {
  display: flex;
  margin: 0.5rem;
  font-weight: 200;
}
.course-card .info .duration img {
  margin-left: 0.5rem;
}

.app-section h2 {
  text-align: center;
  margin: 2rem;
}
.app-section p {
  margin: 1rem;
  text-align: center;
  font-size: 1.3rem;
}
.app-section div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.app-section div img {
  width: 30%;
  margin: 5%;
  margin-bottom: 10rem;
}

.links-container {
  background-color: rgb(5, 5, 27);
  display: flex;
  justify-content: space-around;
  color: rgb(211, 208, 208);
  padding: 2rem;
}

.links a {
  text-decoration: none;
  color: #c7c5c5;
  padding: 0.3rem;
}
.links a:hover {
  color: rgb(121, 118, 118);
}
.links h3 {
  color: rgb(173, 178, 255);
}
.links li,
.links .social,
.links input,
.links button {
  margin-top: 0.5rem;
}
.links input {
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
}
.links button {
  border-radius: 0.5rem;
  border: none;
  padding: 0.3rem;
  font-weight: 500;
}
.links button:hover {
  cursor: pointer;
  background-color: rgb(165, 165, 165);
}

.copyright {
  text-align: center;
  padding: 0.5rem;
}
.copyright a {
  text-decoration: none;
  color: rgb(255, 145, 237);
}

.register-button:hover {
  background-color: #59cc55 !important;
}

@media (max-width: 48rem) {
  nav {
    padding: 1.5rem 1rem;
  }
  .desktop-nav {
    display: none;
  }
  .scrolled {
    padding: 0.7rem 0.5rem;
  }
  .toggle-button {
    display: flex;
    cursor: pointer;
    border: none;
    width: 2rem;
    margin-right: 2rem;
  }
  .logo {
    font-size: 1.5rem;
  }
  .hero-section {
    flex-direction: column-reverse;
    justify-content: center;
  }
  .hero-section .left img {
    margin: 0;
  }
  .hero-section .right {
    align-self: center;
    width: auto;
    margin-top: 0;
    margin: 0;
  }
  header {
    height: 132vh;
  }
  .achievement-cards {
    display: flex;
  }
  .achievement-card {
    position: absolute;
    width: 9rem;
  }
  .students-enrolled {
    right: 50%;
    bottom: -20%;
  }
  .testimonial-section {
    gap: 3rem;
    margin: 2rem;
  }
  .testimonial-section h2 {
    font-size: 1.5rem;
  }
  .testimonial-section .right {
    width: 45%;
  }
  .testimonial-section .right p {
    margin-top: 2rem;
  }
  .testimonial-section .right a {
    margin-top: 2rem;
  }
  .testimonial-section .left {
    width: 50%;
  }
  .testimonial-card {
    width: 100%;
  }
  .testimonial-card .info div {
    padding: 0.5rem;
  }
  .testimonial-card .info h4 {
    font-size: 1.1rem;
  }
  .testimonial-card .info img {
    width: 5rem;
    height: 5rem;
  }
  .courses {
    height: 80vh;
  }
  .course-card {
    width: 40%;
    min-height: 20rem;
    margin: 1rem;
  }
  .course-card > img {
    min-height: 8rem;
    min-width: 1rem;
  }
  .course-card h3 {
    font-size: 1rem;
    white-space: nowrap;
  }
  .app-section p {
    font-size: 1.2rem;
  }
  .app-section div img {
    width: 40%;
  }
  .links-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .links {
    margin: 1rem 4rem;
    padding: 0;
  }
}
@media (max-width: 30rem) {
  nav {
    padding: 1rem 0;
  }
  .scrolled {
    padding: 0.3rem 0;
  }
  .desktop-nav {
    display: none;
  }
  .toggle-button {
    display: block;
    cursor: pointer;
    border: none;
    width: 2rem;
  }
  .logo {
    font-size: 1.3rem;
    margin-top: 0.2rem;
  }
  .hero-section h1 {
    font-size: 1.6rem;
  }
  .achievement-card {
    width: 10rem;
  }
  .students-enrolled {
    right: 50%;
    bottom: -35%;
  }
  header {
    height: 140vh;
  }
  .testimonial-section {
    flex-direction: column;
    height: 120vh;
    gap: 0;
  }
  .testimonial-section .right {
    width: 90%;
  }
  .testimonial-section .right h2 {
    font-size: 1.3rem;
  }
  .testimonial-section .left {
    width: 90%;
  }
  .courses {
    height: 130vh;
  }
  .course-cards {
    flex-direction: column;
    align-items: flex-end;
  }
  .course-card {
    width: 80%;
  }
  .app-section div {
    display: flex;
    flex-direction: column;
  }
  .app-section div img {
    margin-bottom: 2rem;
    width: 70%;
  }
  .links-container {
    align-items: center;
    justify-content: center;
    padding: 0;
  }
  .links ul,
.links h3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-self: center;
    white-space: nowrap;
  }
  .links ul form,
.links h3 form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .links a {
    font-size: 1.3rem;
    padding: 0.5rem;
  }
  .links h3 {
    font-size: 1.5rem;
    margin-top: 2rem;
  }
}
@-webkit-keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}
@keyframes wiggle {
  from {
    transform: rotateZ(0);
  }
  to {
    transform: rotateZ(10deg);
  }
}
/* COOKIE MESSAGE */
.cookie-message {
  display: flex;
  position: fixed;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  background-color: #142d53;
  color: #bbb;
  font-weight: 400;
  z-index: 1000;
  border: none;
}
.cookie-message button {
  border: none;
  margin: 0.5rem;
}/*# sourceMappingURL=shared.css.map */